body {
	font-family: "Myriamm";
}

img{
  border:5px;
  height:30%;
  width:100%;
  margin-top:3.5%;
  border-color:initial;
}

.bodystyle { 
    padding: 0px;
}
 .h2style{
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  padding: 0px;
  font-family: "Myriamm";
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    font-family: "Myriamm";
}

p{
    text-align: center;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 17px;
    font-family: "Myriamm";
}

#stad{
   background-color: #A0E910;
   box-shadow: 3px 3px grey;
}

#strand{
   background-color: #F4EA08;
   box-shadow: 3px 3px grey;
}

#skog{
   background-color: #FF9600;
   box-shadow: 3px 3px grey;
}

img#ruttBild{
  height:400px;
}

button.btn.btn-info.btn-lg{
  margin-top:5%;
  width:100%;
}

iframe{
  height:300px;
  width:100%;
}

/*.panel-body{
	padding:0px;
}*/
	
.panel {
    margin:0px;
}
#ruttContainer > iframe {
    height: 260px;
    width: 100%;
}

button.btn.btn-success{
  background-color:#f2f2f2;
}

button.btn.btn-default{
  background-color:#f2f2f2;
  width:40%;
}

#showMenu {
    box-shadow: 3px 3px #a6a6a6;
    width:100%;
    height: auto;
    background-color: #595959;
    color: white;
}

.btn-default.focus, .btn-default:focus{
  color:#333;
  background-color:#e6e6e6;
  border-color:#8c8c8c;
}

#nextButton{
  background-color:#63CECA;
}

#container{
	width:100%;
	margin:0px;
}

#star, #start {
	font-size: 25px;
	margin:4%;
	background-color:white;
	border-radius: 70px;
	border: 1px solid black;
    width: 40%;
}

#star > p, #start > p {
	font-size:17px;
}
#title{
	margin-bottom:2%;
	padding-top:0px;
	text-align:center;
	background-color: #F4EA08;
    box-shadow: 3px 3px grey;
    font-family: "Myriamm";
}

#length, #description{
	padding-left:2%;
    padding-right:3%;
}
