body {
	font-family: "Myriamm";
}

img{
  border:5px;
  height:30%;
  width:100%;
  margin-top:3.5%;
  border-color:initial;
}

a{
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  padding: 0px;
  font-style: bold;
}

a:visited {
    color: black;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
	font-weight:bold;
}

p{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-bottom: 10px;
}

#stad{
   background-color: #A0E910;
   box-shadow: 3px 3px grey;
}

#strand{
   background-color: #F4EA08;
   box-shadow: 3px 3px grey;
}

#skog{
   background-color: #FF9600;
   box-shadow: 3px 3px grey;
}

img#ruttBild{
  height:400px;
}

button.btn.btn-info.btn-lg{
  margin-top:5%;
  width:100%;
}

iframe{
  height:300px;
  width:100%;
}

.panel-body{
	padding:0px;
}
	
#ruttContainer > iframe {
    height: 260px;
    width: 100%;
}

button.btn.btn-success{
  background-color:#63CECA;
}

button.btn.btn-default{
  background-color:#63CECA;
  width:40%;
  margin-left:5%;
}

.btn-default.focus, .btn-default:focus{
  color:#333;
  background-color:#e6e6e6;
  border-color:#8c8c8c;
}

#nextButton{
  background-color:#63CECA;
}

#container{
	width:100%;
	margin:0px;
}

#star {
	font-size: 25px;
	margin-right:3%;
	float:right;
	padding:10%;
	margin-bottom:5%;
	padding-top:4%;
	padding-bottom:4%;
	background-color:white;
	border-radius: 70px;
	border: 1px solid black;
}
#star > p {
	font-size:20px;
}
#title{
	margin-bottom:2%;
	padding-top:0px;
	padding-bottom:10%;
	background-color: #F4EA08;
    box-shadow: 3px 3px grey;
	font-weight:bold;
}
#length, #description{
	padding:5%;
}
#length {
	padding-left:20%;
}
